@charset "UTF-8";

.search_label {
	width: 25em;
}

.search_select {
	width: 6em;
}

img {
	height: 100px;
}

body{
	
	background-color: #141414;
}

thead>tr> th:nth-child(1){
	width: 50px;
}
thead>tr> th:nth-child(2){
	width: 200px;
}
thead>tr> th:nth-child(3){
	width: 150px;
}
thead>tr> th:nth-child(4){
	width: 150px;
}
thead>tr> th:nth-child(5){
	width: 200px;
}
thead>tr> th:nth-child(6){
	width: 100px;
}
thead>tr> th:nth-child(7){
	width: 100px;
}