<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kflix.mapper.ManageMapper">

	<select id="getAllTicketBoard" resultType="com.kflix.manage.domain.TicketBoard">
		select * from ticket_board
	</select>
		
	<select id="getMemberCnt" resultType="integer">
		select count(*) from member
	</select>
	
	<select id="getMemberGender" resultType="com.kflix.manage.domain.MemberGender">
		select * from gender_ratio
	</select>
	
	<select id="selectMemberView" resultType="com.kflix.manage.domain.MemberView">
		select * from member_view
	</select>
	
	<select id="selectPageMemView" resultType="com.kflix.manage.domain.MemberView">
		SELECT 
			 email, nick, gender, member_age, cert, ticket_name, join_date, ban, pay_sid, save_status
		FROM 
		(SELECT SEQ, email, nick, gender, member_age, cert, ticket_name, join_date, ban, pay_sid, save_status
		    FROM
		    	(SELECT ROWNUM AS SEQ, email, nick, gender, member_age, cert, ticket_name, join_date, ban, pay_sid, save_status
		    	FROM
		        	(select * from member_view)
		    	)
		    WHERE SEQ &gt; (#{page} - 1) * #{amount}
		)
		WHERE ROWNUM &lt;= #{amount}
	</select>
	
	<update id="updateTicketRecommend">
		UPDATE ticket SET ticket_recommend = #{ticket_recommend} WHERE ticket_id = #{ticket_id}
	</update>
	
	<update id="updateTicketStatus">
		UPDATE ticket SET ticket_status = #{ticket_status} WHERE ticket_id = #{ticket_id}
	</update>
	
	<insert id="insertTicket">
		insert into ticket values(#{ticket_id}, #{ticket_name}, #{ticket_period}, #{ticket_price}, 'Y', 'Y')
	</insert>
	
	<update id="updateTicket">
		UPDATE ticket SET ticket_name = #{ticket_name}, ticket_period = #{ticket_period}, ticket_price = #{ticket_price} WHERE ticket_id = #{ticket_id} 
	</update>
	
	<select id="ticketViewAll" resultType="com.kflix.ticket.domain.Ticket">
		SELECT * FROM ticket ORDER BY ticket_id DESC
	</select>
</mapper>