<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kflix.mapper.MemberMapper">

	<insert id="register">
		INSERT INTO member (
		email,
		pwd,
		nick,
		birth,
		member_age,
		gender,
		naver,
		kakao
		)
		VALUES (
		#{email},
		#{pwd},
		#{nick},
		#{birth},
		#{member_age},
		#{gender},
		#{naver},
		#{kakao}
		)

	</insert>

	<select id="login" resultType="com.kflix.member.domain.Member">
		SELECT * FROM member WHERE
		<if test="naver != null">
			 naver = #{naver}
		</if>
		<if test="naver == null">
			email = #{email} AND pwd = #{pwd}
		</if>

	</select>

	<update id="keepLogin">
		UPDATE member SET sessionkey = #{sessionId},
		sessionlimit = #{next} WHERE email = #{email}
	</update>

	<select id="checkMemWithSessionKey"
		resultType="com.kflix.member.domain.Member">
		SELECT * FROM member WHERE sessionkey = #{value} AND
		sessionlimit > SYSDATE
	</select>
	
	<select id="checkEmail"
		resultType="_int" parameterType="String">
		SELECT count(email) FROM member WHERE email = #{email}
	</select>
	
	<update id="emailAuth" parameterType="String">
		UPDATE member SET cert = 'Y' WHERE email = #{email}
	</update>
	
	<select id= "getMemberByEmail" parameterType="String" resultType="com.kflix.member.domain.Member">
		SELECT * FROM member WHERE email = #{email}
	</select>

</mapper>