<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kflix.mapper.MemberMapper">

	<select id="getMemberByEmail"
		resultType="com.kflix.member.domain.Member">
		select * from member where email = #{email}
	</select>

</mapper>