<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kflix.mapper.MovieMapper">

	<select id="getAllMovieView"
		resultType="com.kflix.movie.domain.Movie">
		SELECT * FROM movie_view WHERE movie_status = #{status} ORDER BY movie_id DESC
	</select>

	<select id="getMovieById"
		resultType="com.kflix.movie.domain.Movie">
		SELECT * FROM movie WHERE movie_id = #{movie_id}
	</select>

	<select id="getMovieViewById"
		resultType="com.kflix.movie.domain.Movie">
		SELECT * FROM movie_view WHERE movie_id = #{movie_id}
	</select>

	<insert id="addMovie">
		INSERT INTO
		movie
		VALUES (
		movie_id_seq.NEXTVAL,
		#{movie_title},
		#{rating},
		#{play_time},
		#{director_id},
		#{actor_id1},
		#{actor_id2},
		#{actor_id3},
		#{genre_id1},
		#{genre_id2},
		#{country},
		#{movie_release},
		#{summary},
		#{reg_date},
		#{poster_path},
		#{teaser_path},
		#{video_path},
		0,
		0,
		'Y'
		)
	</insert>

	<update id="deleteOrRecoveryMovie">
		UPDATE movie SET movie_status = #{status} WHERE movie_id = #{movie_id}
	</update>

	<update id="updateMovie">
		UPDATE
		movie
		SET
		movie_title = #{movie_title},
		rating = #{rating},
		play_time = #{play_time},
		director_id = #{director_id},
		actor_id1 = #{actor_id1},
		actor_id2 = #{actor_id2},
		actor_id3 = #{actor_id3},
		genre_id1 = #{genre_id1},
		genre_id2 = #{genre_id2},
		country = #{country},
		movie_release = #{movie_release},
		summary = #{summary},
		poster_path = #{poster_path},
		teaser_path = #{teaser_path},
		video_path = #{video_path}
		WHERE
		movie_id = #{movie_id}
	</update>
	
	<select id="countMovie" resultType="Integer">
		SELECT COUNT(*) FROM movie  WHERE movie_status = #{status}
	</select>
	
	<select id="getPageMovieView"
			resultType="com.kflix.movie.domain.Movie">
		SELECT 
			movie_id, poster_path, movie_title, director_name, genre_name1, genre_name2, play_time, reg_date
		FROM 
		(SELECT SEQ, movie_id, poster_path, movie_title, director_name, genre_name1, genre_name2, play_time, reg_date
		    FROM
		    	(SELECT ROWNUM AS SEQ, movie_id, poster_path, movie_title, director_name, genre_name1, genre_name2, play_time, reg_date
		    	FROM
		        	(SELECT * FROM movie_view WHERE movie_status = #{status} ORDER BY movie_id DESC)
		    	)
		    WHERE SEQ &gt; (#{page} - 1) * #{amount}
		)
		WHERE ROWNUM &lt;= #{amount}
	</select>
	
	<select id="findPageMovieViewByTitle"
			resultType="com.kflix.movie.domain.Movie">
		SELECT 
			movie_id, poster_path, movie_title, director_name, genre_name1, genre_name2, play_time, reg_date
		FROM 
		(SELECT SEQ, movie_id, poster_path, movie_title, director_name, genre_name1, genre_name2, play_time, reg_date
		    FROM
		    	(SELECT ROWNUM AS SEQ, movie_id, poster_path, movie_title, director_name, genre_name1, genre_name2, play_time, reg_date
		    	FROM
		        	(SELECT * FROM movie_view WHERE movie_status = #{status} AND movie_title LIKE #{movie_title} ORDER BY movie_id DESC)
		    	)
		    WHERE SEQ &gt; (#{page} - 1) * #{amount}
		)
		WHERE ROWNUM &lt;= #{amount}
			
	</select>
	
	<select id="findMovieByTitle"
			resultType="com.kflix.movie.domain.Movie">
		SELECT * FROM movie_view WHERE movie_status = #{status} AND movie_title LIKE #{search_word} ORDER BY movie_id DESC
	</select>
	
	<select id="findMovieByRegDate"
			resultType="com.kflix.movie.domain.Movie">
		SELECT * FROM movie_view WHERE movie_status = #{status} AND reg_date LIKE #{reg_date} ORDER BY movie_id DESC
	</select>
	
	<select id="findMovieByGenreName"
			resultType="com.kflix.movie.domain.Movie">
		SELECT * FROM movie_view WHERE movie_status = #{status} AND genre_name1 LIKE #{genre_name} OR genre_name2 LIKE #{genre_name} ORDER BY movie_id DESC
	</select>
	
	<select id="findMovieByDirectName"
			resultType="com.kflix.movie.domain.Movie">
		SELECT * FROM movie_view WHERE movie_status = #{status} AND director_name LIKE #{direc_name} ORDER BY movie_id DESC
	</select>
	
	
	<select id="getCntByFindMovieTitle" resultType="Integer">
		SELECT count(*) FROM movie_view WHERE movie_status = #{status} AND movie_title LIKE #{word} ORDER BY movie_id DESC
	</select>
	
	<select id="getDashboardMovie" resultType="com.kflix.movie.domain.TopFiveMovie">
		SELECT * FROM top_five_movie
	</select>

</mapper>