<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kflix.mapper.TicketMapper">

	<select id="ticketAll" resultType="com.kflix.ticket.domain.Ticket">
		SELECT * FROM ticket WHERE ticket_status = 'Y'
	</select>
	
	<select id="getTicket" parameterType="int" resultType="com.kflix.ticket.domain.Ticket">
		SELECT * FROM ticket WHERE ticket_status = 'Y' AND ticket_id = #{ticket_id}
	</select>

</mapper>