@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.logo {
	height: 30px;
	padding: 0 20px
}

.background {
	background-image: url("/member/resources/img/mainimg.jpg");
	width: 1000px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-row>* {
	margin: 8px;
}

.nav-bar {
	background-color: black;
	width: 100%;
	margin: 0 50px;
	align-items: center;
}

.test {
	border: 1px solid black;
	background-color: black;
}

.nav-link {
	color: white;
	font-size: 13px;
}

.color_white {
	color: white;
}

.nav-icon {
		font-size: 20px;
	padding: 8px;
}