@charset "UTF-8";

body {
	background-color: #141414;
	color: white;
}

* {
	font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	color: white;
}

.color_white {
	color: white;
}

.img1 {
	margin: 0;
}

.atag {
	width: 300px;
	height: 180px;
}

.atagdiv {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 180px;
	position: relative;
	border-radius: 0.5rem;
}

.dis {
	float: left;
	width: 300px;
	border-radius: 0.5rem;
	height: 180px;
}

#modalbackground {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
	height: 100%;
	top: 0;
}

.videohover {
	opacity: 0;
	visibility: hidden;
	display: none;
	transition: all 0.5s;
	position: absolute;
	background-color: #141414;
	border-radius: 0.5rem;
	width: 360px;
	height: 360px;
	top: -90px;
	left: -30px;
	z-index: 100;
	overflow: hidden;
	box-shadow: 0 0 11px black;
	cursor: pointer;
	left: -30px;
}

.atag:hover .videohover {
	display: block;
	opacity: 1;
	visibility: visible;
	cursor: pointer;
}

.modalimg {
	width: 100%;
	height: 205px;
	position: absolute;
	opacity: 1;
	visibility: visible;
	transition: all 4s;
	z-index: 1;
}

.modalimg:hover {
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}

.video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.c-gay {
	color: gray;
}

.hovervideo {
	width: 100%;
	height: 203px;
	position: relative;
	top: 0;
	left: 0;
	background-color: #141414;
	cursor: pointer;
}

th, td {
	padding: 2px 0;
}

.topMark {
	position: absolute;
	right: 0px;
	top: 0;
	background-color: white;
	color: #ed2927;
	width: 12%;
	line-height: 1;
	text-align: center;
	font-size: 11px;
	padding: 2% 0;
	height: 22%;
	border-top-right-radius: 0.5rem;
	border-bottom-left-radius: 0.2rem;
	box-shadow: 0px 0px 2px #f9ff00;
}

.newMark {
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	color: #ed2927;
	width: 12%;
	text-align: center;
	font-size: 24px;
	padding: 1% 0;
	height: 22%;
	border-top-left-radius: 0.5rem;
	border-bottom-right-radius: 0.2rem;
	font-weight: 900;
	box-shadow: 0px 0px 2px white;
}

.topMark>* {
	color: #ed2927;
}

.comment {
	position: relative;
	padding: 13px 30px;
	font-size: 14.5px;
}

.comment>*:not(:last-child) {
	margin-bottom: 15px;
}

.ratingsty {
	box-sizing: border-box;
	padding: 2px;
	width: 41px;
	border-radius: 10%;
	text-align: center;
	font-weight: bold;
	font-size: 23px;
	font-family: 'Acme', ' Oswald ', sans-serif;
	display: inline-block;
	text-align: center;
	margin: 0;
	margin-right: 2.5px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

a:active {
	color: white;
	text-decoration: none;
}

.searchdiv {
	width: 300px;
	display: inline-block;
	margin: 12px 20px;
}

h6{
	font-size: 1.05rem;
    padding: 5px;
    text-shadow: 10px 0px 20px #ed292759;
}

#searchresult {
	padding: 0 50px;
	padding-top: 85px;
}