@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
}

body {
	background-color: black;
	padding: 0;
}

.modal-backdrop {
	z-index: 0;
}

.modal-content {
	text-align-last: center;
	width: 70%;
}

.modal-footer {
	padding: -0.25rem;
}

.color-w {
	color: white;
}

#back {
	position: absolute;
	top: 40px;
	left: 30px;
	z-index: 2;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 14px 15px;
	border-radius: 1.2rem;
	cursor: pointer;
}

.topMark {
	position: absolute;
	right: 0px;
	top: 0;
	background-color: white;
	color: #ed2927;
	width: 12%;
	line-height: 1;
	text-align: center;
	font-size: 11px;
	padding: 1.5% 0;
	height: 23%;
	border-top-right-radius: 2%;
	border-bottom-left-radius: 10%;
	box-shadow: 0px 0px 2px #f9ff00;
}

.topMark>* {
	color: #ed2927;
}

.newMark {
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	color: #ed2927;
	width: 12%;
	text-align: center;
	font-size: 23px;
	/* padding: 0% 0; */
	height: 22%;
	border-top-left-radius: 0.5rem;
	border-bottom-right-radius: 0.2rem;
	font-weight: 900;
	box-shadow: 0px 0px 2px white;
}

a:link {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a:active {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#videobar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	z-index: 10;
	height: 119px;
}

.progress {
	height: 10px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0;
}

.progress__filled {
	background: #ed2927;
	transition: right 0.5s ease-out;
	cursor: pointer;
}

#current {
	position: absolute;
	top: 10px;
	left: 11px;
	font-size: 20px;
}

#duration {
	position: absolute;
	top: 10px;
	right: 11px;
	font-size: 20px;
}

#videodiv {
	margin: 0;
	padding: 0;
	background: center center fixed no-repeat;
}

#video {
	width: 100%;
	height: 100%;
	-webkit-writing-mode: vertical-rl;
}

.show {
	width: 22.5;
}

#videocon {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1;
}

#unmuteButton {
	background-color: white;
	width: 100px;
	height: 30px;
}

#volrange {
	position: relative;
	top: 4px;
	cursor: pointer;
}

#movieinfo {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 12em;
	opacity: 0;
}

#recommend {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	padding: 0;
}

input[type=range]::-webkit-slider-thumb {
	background: #ed2927;
	width: 18px;
	height: 15px;
}

.showimg {
	position: relative;
	width: 250px;
	display: inline-block;
	margin: 10px;
}

.dropdown-menu {
	min-width: 0;
}

.disin {
	display: inline-block;
}

.ru {
	border: 2.5px solid #a6a6a6;
	background-color: rgba(87, 87, 87, 0.4);
	color: black;
	padding: 12px 14px;
	border-radius: 50%;
	margin: 3px;
	cursor: pointer;
}

.ru:hover {
	border: 2.5px solid white;
	background-color: rgba(87, 87, 87, 0.8);
	color: black;
	padding: 12px 14px;
	border-radius: 50%;
	margin: 3px;
	cursor: pointer;
}

.imghover .hoverru {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

#btns {
	padding: 34px 30px;
	text-align-last: center;
}

#atag:hover .imghover .hoverru {
	opacity: 1;
	visibility: visible;
	cursor: pointer;
}

/* 비디오바 가로 맞춤 */
@media only screen and (max-width:664px) {
	#btns>*:not(:last-child) {
		font-size: 17px;
		padding: 0 10px;
	}
	.fa-pause, .fa-pause {
		font-size: 17px;
	}
	#volrange {
		width: 50px;
	}
}

@media only screen and (min-width:665px) {
	#btns>*:not(:last-child) {
		font-size: 19px;
		padding: 0 16px;
	}
	.fa-pause, .fa-pause {
		font-size: 19px;
	}
	#volrange {
		width: 70px;
	}
}

@media only screen and (min-width:768px) {
	#btns>*:not(:last-child) {
		font-size: 21px;
		padding: 0 22px;
	}
	.fa-pause, .fa-pause {
		font-size: 21px;
	}
	#volrange {
		width: 80px;
	}
}

@media only screen and (min-width:992px) {
	#btns>*:not(:last-child) {
		font-size: 23px;
		padding: 0 34px;
	}
	.fa-pause, .fa-pause {
		font-size: 23px
	}
	#volrange {
		width: 90px;
	}
	#recommend {
		padding: 13em 4em;
	}
	.sizerecom {
		min-width: 846px;
	}
	#recomtittle {
		position: relative;
		right: 400px;
	}
}

@media only screen and (max-width:991px) {
	#recommend {
		padding: 8em 7em;
	}
}

@media only screen and (min-width:1380px) {
	#btns>*:not(:last-child) {
		font-size: 27px;
		padding: 0 54px;
	}
	.fa-pause, .fa-pause {
		font-size: 27px;
	}
	#volrange {
		width: 100px;
	}
}

@media only screen and (min-width:400px) {
	#movieinfo>h5 {
		font-size: 14px;
		line-height: 21px;
		width: 415px;
	}
	#movieinfo>h3 {
		margin-bottom: 10px;
		font-size: 2.5rem;
	}
	#movieinfo {
		padding: 22em 3em;
	}
}

@media only screen and (min-width:600px) {
	#movieinfo>h5 {
		font-size: 16px;
		line-height: 25px;
		width: 430px;
	}
	#movieinfo>h3 {
		margin-bottom: 21px;
		font-size: 2.75rem;
	}
	#movieinfo {
		padding: 20em 5em;
	}
}

@media only screen and (min-width:1000px) {
	#movieinfo>h5 {
		font-size: 1.25rem;
		line-height: 29px;
		width: 550px;
	}
	#movieinfo>h3 {
		margin-bottom: 32px;
		font-size: 3.5rem;
	}
	#movieinfo {
		padding: 17em 9em;
	}
}

@media only screen and ( min-width : 1200px) {
	.h3, h3 {
		font-size: 3.75rem;
	}
}