@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@500&display=swap')
	;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #141414;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: fixed;
	z-index: 100;
	top: 0;
}

.flex-row>* {
	margin: 8px;
}

.nav-bar {
	background-color: rgba(0, 0, 0, 0.2);
	max-width: 100%;
	padding: 11px 50px;
	align-items: center;
	margin: 0;
}

.nav-link {
	color: white;
	font-size: 13px;
}

#logo {
	height: 30px;
	padding: 0 20px
}

.profile {
	position: absolute;
	right: 4%;
}

.color_white {
	color: white;
}

.nav-icon {
	font-size: 20px;
	padding: 8px;
}
