@charset "UTF-8";

/* layout */
header {
	top: 0;
	background: transparent;
}

.header_container {
	display: flex;
	align-items: center;
}

.logo, .main_nav, .sub_nav {
	flex: 0 0 auto; /* flex: none */
}

.main_nav {
	display: flex;
	align-items: center;
	font-size: 15px;
	color: #e5e5e5;
	padding-top: 10px;
}

.sub_nav {
	display: flex;
	align-items: center;
	margin-left: auto;
    padding: 10px 30px 0 0;
}

.header_container {
	width: 100%;
	/* fixed nav-bar */
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%,
		rgba(0, 0, 0, 0));
	color: #ddddff;
	font-size: 0.9rem;
	z-index: 100;
	padding-bottom: 8px;
}

.logo {
	padding-left: 1rem;
	text-decoration: none;
	text-align: center;
	line-height: 3rem;
	font-size: 3rem;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #aa2929;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: white;
	background-color: #ec2927;
}

.dropdown-menu {
	background-color: #060606d9;
	min-width: 9.5rem;
}

.logo a img {
	height: 1em;
	padding: 5px 30px;
}

.logo .header_toggleBtn {
	display: none;
}

.main_nav .main_nav_tab {
	padding-left: 1rem;
}

.sub_nav .sub_nav_tab {
	padding-right: 1rem;
}

.nav-link {
	padding: 0;
}

.color_white {
	color: white;
	cursor: pointer;
	font-size: 20px;
	padding: 0 2px;
}

.dropdown-menu {
	background-color: #060606d9;
	min-width: 9.5rem;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: white;
	background-color: #ec2927;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #aa2929;
}

a:link {
	color: #e5e5e5;
	text-decoration: none;
}

a:visited {
	color: #e5e5e5;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #b3b3b3;
}

a:active {
	color: #e5e5e5;
	text-decoration: none;
}

.header_ticket{
    width: 100%;
    /* fixed nav-bar */
    position: fixed;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    top: 0;
    left: 0;
    background: #bb1717;
    color: #ffffff;
    font-size: 0.9rem;
    clear : both;
    z-index: 150;
    line-height: 45px;
    text-align: left;
    padding-left: 55px;
}

#ticket {
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    position: relative;
    left: 1%;
    padding: 5px 9px 4px 9px;
    border-radius: 7px;
    transition: all 0.1s;
    text-shadow: 0px -2px rgb(0 0 0 / 44%);
    background-color: #2e343c;
    border-bottom: 5px solid #6b6363;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#ticket:active {
    transform: translateY(10px);
}