@charset "UTF-8";

main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color:white;
    background: #000;
}

.contents{
    width: 100%;
    height: fit-content;
    /* background: transparent; */
    /* background: rgb(208, 219, 221); */
}

.slider{
    width: 100%;
    height: 100%;
    padding: 0;

    display: flex;
    align-items: center;

    overflow-x: scroll;
}
.slider::-webkit-scrollbar{
    display: none;
}
.item{
    width: 200px;
    height: 200px;

    margin-right: 0.25%;
}
.item img{
    width: inherit;
    height: inherit;
    object-fit: fill;
    object-position: center;
}

.profile {
	position: absolute;
	right: 4%;
}